@use '@angular/material' as mat;
@import "../../../global-theme";

table {
  @include mat.elevation(2);
  width: 100%;
}

.mat-column-actions {
  width: 5rem;
}

.container {
  margin: auto;
  padding: 1rem;
  max-width: 60rem;

  @media only screen and (max-width: 60rem) {
    padding: 0;
  }
}
