<div class="two-columns-layout">
  <section>
    <h1>Description</h1>
    <section class="input-fields-container">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Marketing name</mat-label>
        <input matInput type="text"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Technical name</mat-label>
        <input matInput type="text"/>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput rows="6"></textarea>
      </mat-form-field>
    </section>
  </section>

  <div class="vertical-separator"></div>

  <section class="conditions">
    <h1>Conditions</h1>
    <section class="input-fields-container">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Portal</mat-label>
        <input matInput type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Type</mat-label>
        <input matInput type="text"/>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Benefit amount</mat-label>
        <input matInput type="text" disabled/>
      </mat-form-field>
      <section class="date">
        <div class="date-container">
          <mat-form-field class="short" appearance="fill">
            <mat-label>Start a date</mat-label>
            <input matInput [matDatepicker]="startPicker"/>
            <mat-datepicker-toggle
              matSuffix
              [for]="startPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="short" appearance="fill">
            <mat-label>End a date</mat-label>
            <input matInput [matDatepicker]="endPicker"/>
            <mat-datepicker-toggle
              matSuffix
              [for]="endPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </section>
    </section>

    <section class="options">
      <mat-radio-group>
        <mat-radio-button value="1">Business conditions</mat-radio-button>
        <mat-radio-button value="2">Base price 100%</mat-radio-button>
      </mat-radio-group>

      <mat-checkbox class="example-margin"
      >Connect with other promotions
      </mat-checkbox
      >

      <mat-checkbox class="example-margin">Back promotion</mat-checkbox>
    </section>
  </section>

  <section>
    <h1>Catalog Promotion tutorial:</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
      tristique erat vitae enim efficitur, in pharetra metus facilisis. Sed
      consectetur molestie nunc a sagittis. Sed sapien nisi, vestibulum in
      volutpat vel, interdum vel turpis. Praesent volutpat venenatis augue sed
      molestie. Proin vulputate congue leo quis dictum. Integer lacus diam,
      bibendum vitae auctor ut, facilisis quis sem. Suspendisse accumsan augue
      dapibus nisl dictum vehicula id et justo. Aenean scelerisque felis nec
      fringilla lobortis. Vivamus diam arcu, faucibus a dignissim eu,
      pellentesque sed tellus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
      tristique erat vitae enim efficitur, in pharetra metus facilisis. Sed
      consectetur molestie nunc a sagittis. Sed sapien nisi, vestibulum in
      volutpat vel, interdum vel turpis. Praesent volutpat venenatis augue sed
      molestie. Proin vulputate congue leo quis dictum. Integer lacus diam,
      bibendum vitae auctor ut, facilisis quis sem. Suspendisse accumsan augue
      dapibus nisl dictum vehicula id et justo. Aenean scelerisque felis nec
      fringilla lobortis. Vivamus diam arcu, faucibus a dignissim eu,
      pellentesque sed tellus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
      tristique erat vitae enim efficitur, in pharetra metus facilisis. Sed
      consectetur molestie nunc a sagittis. Sed sapien nisi, vestibulum in
      volutpat vel, interdum vel turpis. Praesent volutpat venenatis augue sed
      molestie. Proin vulputate congue leo quis dictum. Integer lacus diam,
      bibendum vitae auctor ut, facilisis quis sem. Suspendisse accumsan augue
      dapibus nisl dictum vehicula id et justo. Aenean scelerisque felis nec
      fringilla lobortis. Vivamus diam arcu, faucibus a dignissim eu,
      pellentesque sed tellus.
    </p>
  </section>
</div>
