@import "../../form-common-style";
@import "../../../../theme";

$font-size: 1.5rem;
$number-size: calc(#{$font-size} + 20px);

.navigation {
  position: relative;
}

.step {
  display: grid;
  margin-bottom: 0.2rem;
  //margin-left: 1rem;
  user-select: none;
  white-space: nowrap;
  cursor: default;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: stretch;

  &.unavailable {
    .number {
      @include primary-style(100);
    }

    .label {
      color: #b9bbbd;
    }

    &:hover {
      cursor: not-allowed;
    }
  }

  &.active {
    .label {
      font-weight: 600;
      @media only screen and (max-width: $screen-xs) {
        position: absolute;
        top: 0;
        margin: 0.8rem 0 0 4.8rem;
      }
    }

    .number {
      @include accent-style;
    }
  }

  &:not(.active) {
    margin-right: 0.2rem;

    @media only screen and (max-width: $screen-xs) {
      .label {
        display: none;
      }
    }
  }

  &:not(.active,.unavailable) {
    cursor: pointer;
    pointer-events: initial;

    &:hover{
      color: primary-contrast-color(100);
      transition: color 0.2s;

      .number {
        border: 0.2rem solid accent-color(500);
        @include accent-style(500);
      }

      .animation-fill {
        width: 100%;
        transition: width 0.2s;
        transition-timing-function: ease-out;
      }
    }
  }

  .number {
    @include primary-style(500);
    display: inline-flex;
    border-radius: 50%;
    width: $number-size;
    height: $number-size;
    font-size: $font-size;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
    grid-area: 1 / 1 / 2 / 2;
  }

  .label {
    margin-left: 0.5rem;
    vertical-align: middle;
    font-size: 1rem;
    padding-right: 1rem;
    grid-area: 1 / 2 / 2 / 3;
    justify-self: start;
  }

  .background-container {
    grid-area: 1 / 1 / 2 / 3;
    width: auto;
    height: 100%;
    padding-left: calc(#{$number-size} / 2);
    display: grid;
  }

  .animation-fill {
    background-color: primary-color(100);
    width: 0;
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
  }

  .background {
    background-color: primary-color(50);
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
  }
}

::ng-deep .tooltip {
  @media only screen and (min-width: $screen-xs) {
    display: none;
  }
}
