<section class="navigation">
  <a [routerLink]="step.available ? step.url : null"
     *ngFor="let step of steps; let i = index">
    <div class="step"
         [class.active]="step.active"
         [class.unavailable]="!step.available"
         matTooltip="{{ step.label | titlecase }}"
         matTooltipPosition="right"
         matTooltipClass="tooltip">
      <div class="background-container">
        <div class="background"></div>
        <div class="animation-fill"></div>
      </div>
      <div class="number">{{ i + 1 }}</div>
      <div class="label">{{ step.label | uppercase }}</div>
      <div class="info-button" *ngIf="step.tooltip">
        <app-info-button tooltip="{{ step.tooltip }}"></app-info-button>
      </div>
    </div>
  </a>
</section>
