<section class="navigation">
  <a *ngFor="let step of steps; let i = index"
     [routerLink]="step.available ? step.id : null"
     [class.active]="step.active"
     [class.unavailable]="!step.available"
     class="step"
  (click)="navigationButtonPressed(step)">

    <!-- Circle -->
    <div matTooltip="{{ step.label | titlecase }}"
         matTooltipPosition="right"
         matTooltipClass="tooltip"
         class="number">
      {{ i + 1 }}
    </div>

    <!-- Label-->
    <div class="label">{{ step.label | uppercase }}</div>

    <!-- Tooltip Button-->
    <div class="info-button" *ngIf="step.tooltip">
      <app-info-button tooltip="{{ step.tooltip }}" tooltipPosition="right"></app-info-button>
    </div>

    <!-- For click animation purpose -->
    <div class="background-container">
      <div class="background"></div>
      <div class="animation-fill"></div>
    </div>
  </a>
</section>
