<form [formGroup]="form">
  <div class="container" formGroupName="definition">
    <!-- Description Cell-->
    <div class="cell" formGroupName="description">
      <div class="title">
        <h1>Description</h1>
        <div class="require-info">✶ is required</div>
      </div>

      <!-- Marketing Name -->
      <div class="input-line">
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-form-field appearance="fill" class="full-width required">
          <mat-label>Marketing name</mat-label>
          <input formControlName="marketingName" matInput type="text"/>
        </mat-form-field>
      </div>

      <!-- Technical Name -->
      <div class="input-line">
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Technical name</mat-label>
          <input formControlName="technicalName" matInput type="text"/>
        </mat-form-field>
      </div>

      <!-- Description -->
      <div class="input-line">
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput rows="10"></textarea>
        </mat-form-field>
      </div>
    </div>

    <!-- Conditions cell -->
    <div class="cell" formGroupName="conditions">
      <div class="title">
        <h1>Conditions</h1>
        <div class="require-info">✶ is required</div>
      </div>

      <!-- Portal -->
      <div class="input-line">
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-form-field class="full-width required" appearance="fill">
          <mat-label>Portal</mat-label>
          <mat-select formControlName="portal">
            <mat-option value="portalA">Portal A</mat-option>
            <mat-option value="portalB">Portal B</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Type -->
      <div class="input-line">
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-form-field class="full-width required" appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="type1">Type 1</mat-option>
            <mat-option value="type2">Type 2</mat-option>
            <mat-option value="type3">Type 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Benefit amount -->
      <div class="input-line">
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Benefit amount</mat-label>
          <input formControlName="benefitAmount" matInput type="number"/>
        </mat-form-field>
      </div>

      <!-- Start and End Date -->
      <section class="input-line date-container" formGroupName="date">
        <!-- Start Date -->
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-form-field class="short required" appearance="fill">
          <mat-label>Start date</mat-label>
          <input formControlName="start" matInput [matDatepicker]="startPicker"/>
          <mat-datepicker-toggle matSuffix [for]="startPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <!-- End Date -->
        <mat-form-field class="short" appearance="fill">
          <mat-label>End date</mat-label>
          <input formControlName="end" matInput [matDatepicker]="endPicker"/>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <mat-error *ngIf="isDateRangeValid" class="error-row">
          Invalid date range: start date must be earlier than end date
        </mat-error>
      </section>

      <!-- Price Conditions -->
      <div class="input-line options">
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-radio-group formControlName="priceConditions">
          <mat-radio-button value="businessConditions">Business conditions</mat-radio-button>
          <mat-radio-button value="basePrice100">Base price 100%</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Connect with Other Promotions -->
      <div class="input-line">
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-checkbox formControlName="connectWithOtherPromotions">
          Connect with other promotions
        </mat-checkbox>
      </div>

      <!-- Back Promotion -->
      <div class="input-line">
        <app-info-button tooltip="Lorem ipsum"></app-info-button>
        <mat-checkbox formControlName="backPromotion">
          Back promotion
        </mat-checkbox>
      </div>
    </div>

    <!-- 'Catalog promotion tutorial' cell-->
    <div class="cell">
      <div class="title">
        <h1>Catalog Promotion tutorial:</h1>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        tristique erat vitae enim efficitur, in pharetra metus facilisis. Sed
        consectetur molestie nunc a sagittis. Sed sapien nisi, vestibulum in
        volutpat vel, interdum vel turpis. Praesent volutpat venenatis augue sed
        molestie. Proin vulputate congue leo quis dictum. Integer lacus diam,
        bibendum vitae auctor ut, facilisis quis sem. Suspendisse accumsan augue
        dapibus nisl dictum vehicula id et justo. Aenean scelerisque felis nec
        fringilla lobortis. Vivamus diam arcu, faucibus a dignissim eu,
        pellentesque sed tellus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        tristique erat vitae enim efficitur, in pharetra metus facilisis. Sed
        consectetur molestie nunc a sagittis. Sed sapien nisi, vestibulum in
        volutpat vel, interdum vel turpis. Praesent volutpat venenatis augue sed
        molestie. Proin vulputate congue leo quis dictum. Integer lacus diam,
        bibendum vitae auctor ut, facilisis quis sem. Suspendisse accumsan augue
        dapibus nisl dictum vehicula id et justo. Aenean scelerisque felis nec
        fringilla lobortis. Vivamus diam arcu, faucibus a dignissim eu,
        pellentesque sed tellus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        tristique erat vitae enim efficitur, in pharetra metus facilisis. Sed
        consectetur molestie nunc a sagittis. Sed sapien nisi, vestibulum in
        volutpat vel, interdum vel turpis. Praesent volutpat venenatis augue sed
        molestie. Proin vulputate congue leo quis dictum. Integer lacus diam,
        bibendum vitae auctor ut, facilisis quis sem. Suspendisse accumsan augue
        dapibus nisl dictum vehicula id et justo. Aenean scelerisque felis nec
        fringilla lobortis. Vivamus diam arcu, faucibus a dignissim eu,
        pellentesque sed tellus.
      </p>
    </div>

    <!-- Empty cell-->
    <div class="cell">
      <div class="content"></div>
    </div>
  </div>

  <input hidden formControlName="id">
</form>
