@import "../../scss/common-style";

app-info-button {
  position: absolute;
  top: 0.6rem;
  right: -1.6rem;
}

.input-line {
  position: relative;
}

.date-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(auto, 13rem) minmax(auto, 13rem);

  mat-form-field {
    width: auto;
  }
}

.options {
  display: grid;
  gap: 0.5rem;

  mat-radio-group {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.5rem;
  }
}

