@import "../../scss/common-style";

section {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

h1::after {
  content: "";
  display: block;
  height: $line-width;
  background: #fff;
  margin-top: $line-width;
}
