<section class="navigation">
  <div class="step active">
    <span class="number">1</span>
    <span class="label">DEFINITION</span>
  </div>

  <div class="step">
    <span class="number">2</span>
    <span class="label">CHOOSE PRODUCTS</span>
  </div>

  <div class="step">
    <span class="number">3</span>
    <span class="label">EXCLUDE PRODUCTS</span>
  </div>

  <div class="step unavailable">
    <span class="number">4</span>
    <span class="label">BONUS PRODUCTS</span>
  </div>

  <div class="step unavailable">
    <span class="number">5</span>
    <span class="label">PRODUCTS LIMITS</span>
  </div>

  <div class="step">
    <span class="number">6</span>
    <span class="label">PRODUCTS LIMITS</span>
  </div>

  <div class="step">
    <span class="number">7</span>
    <span class="label">PRODUCTS LIMITS</span>
  </div>
</section>
