<div class="content">
  <ng-container *ngIf="isControl">
    <div class="control">
      <div class="control-name" [class.empty]="!formattedValue">
        {{ formattedName }}
      </div>
      <div class="control-value" *ngIf="!isControlValueEmpty">
        {{ formattedValue }}
      </div>
      <div class="control-value empty" *ngIf="isControlValueEmpty">
        (empty)
      </div>
      <div *ngIf="isValid" class="valid-info valid">
        <mat-icon>done</mat-icon>
      </div>
      <div *ngIf="!isValid" class="valid-info invalid">
        <mat-icon>close</mat-icon>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isGroup">
    <div class="group-name">
      <div *ngIf="isValid" class="valid-info valid">
        <mat-icon>done</mat-icon>
      </div>
      <div *ngIf="!isValid" class="valid-info invalid">
        <mat-icon>close</mat-icon>
      </div>
      {{ formattedName }}
    </div>
    <div class="group-header" *ngIf="hasControlChildren">
      <div>Field</div>
      <div>Value</div>
      <div>Valid</div>
    </div>
    <div class="group mat-elevation-z2">
      <ng-container *ngFor="let nameControl of childrenNameControlPairs">
        <app-summary-control-description [name]="nameControl[0]" [control]="nameControl[1]">
        </app-summary-control-description>
      </ng-container>
    </div>
  </ng-container>
</div>


