@import "../../scss/common-style";

.form-content {
  display: grid;
  grid-template-columns: [form-nav] minmax(auto, 20rem) [main-content] auto;
  padding: 1rem;
  margin: auto;
  max-width: $screen-lg;

  @media only screen and (max-width: $screen-md) {
    grid-template-columns: [form-nav] auto [main-content] 1fr;
  }

  @media only screen and (max-width: $screen-xs) {
    padding: 0.2rem;
  }
}

main {
  @include primary-style(50);

  .step-title {
    display: none;
  }

  @media only screen and (max-width: $screen-xs) {
    .step-title {
      display: block;

      > h1 {
        font-size: 1.5rem;
        margin: 0 0 0 1.5rem;
        height: calc(1.5rem + 20px);
      }

      &::after {
        content: "";
        display: block;
        height: 0.2rem;
        background: #fff;
      }
    }
  }

}
