<div class="container">
  <h1>Lorem ipsum</h1>

  <table mat-table [dataSource]="promoList">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="marketingName">
      <th mat-header-cell *matHeaderCellDef> Marketing Name</th>
      <td mat-cell *matCellDef="let element"> {{getPromoMarketingName(element)}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element" (click)="editPromo(element)">
        <button mat-icon-button color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="deletePromo(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="promoListColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: promoListColumns;"></tr>
  </table>

  <div class="actions">
    <button mat-raised-button color="accent" class="new-button" (click)="onNewClicked()">
      New
    </button>
  </div>
</div>
