@use "@angular/material" as mat;
@import "global-theme";

mat-form-field.mat-form-field {
  &.mat-form-field-disabled {
    .mat-form-field-underline::before {
      background-color: #fff;
      height: 0.2rem;
    }

    .mat-form-field-flex {
      background-color: #f3f3f3;
    }
  }

  .mat-form-field-flex {
    background-color: #fff;
  }


  &:not(.mat-form-field-disabled) {
    .mat-form-field-underline {
      &::before {
        all: initial;
      }

      .mat-form-field-ripple {
        all: initial;
      }
    }

    &.full-width {
      width: 100%;
    }

    &.short .mat-form-field-infix {
      width: auto;

      input {
        width: 6rem;
      }
    }
  }
}

.mat-form-field-infix .mat-form-field-label-wrapper
.mat-form-field-label {
  .mat-form-field-required-marker {
    display: none;

  }
}
