@use "@angular/material" as mat;
@import "../../../../scss/global-theme";
@import "../../../../scss/global-variables";

h1 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: initial;
}

mat-form-field.full-width {
  width: 100%;
}

.title {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;

  h1 {
    grid-area: 1 / 1 / 2 / 3;
    box-sizing: border-box;

    &::after {
      content: "";
      display: block;
      height: 0.2rem;
      background: #fff;
      margin-top: 0.2rem;
    }
  }

  .require-info {
    color: warn-color(500);
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}

.container {
  display: grid;
  grid-template-columns: [left-column] 1fr [right-column] 1fr;
  margin-right: 1rem;

  @media only screen and (max-width: $screen-sm) {
    grid-template-columns: 1fr;
    margin-right: initial;
  }

  .content {
    padding: 0.5rem 1.8rem 0.5rem 1.8rem;
    border-right: solid 0.2rem rgb(0,0,0,0);

    @media only screen and (max-width: $screen-sm) {
      padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    }
  }
}

